
/*Website color palette*/
  .background-green {
    background-color: rgb(170, 179, 150);
  }
  .background-light {
    background-color: rgb(247, 238, 211);
  }
  .background-brown {
    background-color: rgb(103, 70, 54);
  }

  .text-green {
	color: rgb(170, 179, 150);
  }
  .text-light {
	color: rgb(247, 238, 211);
  }
  .text-brown {
    color: rbg(103, 70, 54);
  }

  /*Custom containers*/
  .container-game {
      height: 70vh;
      display: flex;
      align-items: center;
      justify-content: center;
      box-sizing: border-box;
  }

  .header-top {
    border-top: 5px solid rgb(170, 179, 150);
    width: 50%;
    margin: 0 auto;
  }

  .header-bottom {
    border-bottom: 5px solid rgb(170, 179, 150);
    width: 75%;
    margin: 0 auto;
  }

  .container-profile-btn {
    position: relative;
    width: 50px;
    height: 60px;
  }

  .btn-profile {
    position: absolute;
    top: 100%;
    left: 50%;
    transform: translate(-50%, -50%);
    -ms-transform: translate(-50%, -50%);
    background-color: white;
    border-radius: 5px;
    border-style: solid;
    border-color: black;
    color: black;
    
  }

  .profile-img {
    border-radius: 50%;
    border: 2px solid white;
  }