/*Website color palette*/
 :root {
    --backgroundColor: rgb(255, 221, 189);
    --mainColor: rgb(255, 142, 38);
    --accentLighter: rgb(215, 235, 255);
    --accentColor: rgb(189, 223, 255);
    --accentDarker: rgb(139, 197, 255);
 }

  .color-btn {
    background-color: var(--accentLighter) !important;
    border-color: var(--accentColor) !important;
}

  .dropdown-menu { background-color: var(--accentLighter) !important;  }

  .dropdown-item:hover {
    background-color: var(--accentColor) !important;
    background-color: var(--accentColor) !important;
}

.dropdown-item:active,
.dropdown-item.active {
    color: var(--accentDarker);
}

  .color-background {
      background-color: var(--backgroundColor);
}

  .color-navbar {
    background-color: var(--mainColor);
}

  .color-accent-light {
    background-color: var(--accentLighter);
  }
/*accent*/
  .color-leaderboard {
    background-color: var(--mainColor);
}

  .game-window {

    height: 100%;
    aspect-ratio: 1/1;
}

  /*Custom containers*/
  .container-game {
      width: 60vw;
      height: 70vh;
      display: flex;
      align-items: center;
      justify-content: center;
      box-sizing: border-box;
  }

  .header-top {
    border-top: 5px solid var(--mainColor);
    width: 50%;
    margin: 0 auto;
  }

  .header-bottom {
    border-bottom: 5px solid var(--mainColor);
    width: 75%;
    margin: 0 auto;
  }

  .navbar-container {
    display: flex;
    justify-content: flex-end;
    align-items: center;
    min-height: 80px;
  }

  #backBtn {
    margin-right: auto;
  }

  .container-profile-btn {
    position: relative;
    display: flex;
    flex-direction: column;
    margin: 0;
    padding: 0;
    margin-left: auto;
    min-width: 50px;
    min-height: 60px;
    justify-content: center;
    align-content: flex-start;
  }

  .btn-profile {
    position: absolute;
    top: 100%;
    left: 50%;
    transform: translate(-50%, -70%);
    -ms-transform: translate(-50%, -50%);
    background-color: white;
  }

  .profile-img {
    border-radius: 50%;
    margin-bottom: auto;
    border: 2px solid white;
  }

 #gameSettingsContainer {
    display: flex;
    flex-wrap: wrap;
    justify-content: space-evenly;
    align-items: center;
 }