<!--Game. Resizes when possible.-->
<div class="container-sm background-green position-relative">
	<div class="container-game">
		<div class="container">
			<div class="row justify-content-center">
				<div class="col-auto">
					<button type="button" class="btn btn-light">1 vs 1</button>
				</div>
			</div>
			<div class="row m-2 justify-content-center">
				<div class="col-auto">
					<button type="button" class="btn btn-light">1 vs IA</button>
				</div>
			</div>
			<div class="row justify-content-center">
				<div class="col-auto">
					<button type="button" class="btn btn-light">Tournois</button>
				</div>
			</div>
		</div>
	</div>
</div>