    <!--Game-->
    <div class="container-md container-game bg-dark">
        <div class="game-window" id="gameContainer" style="display: none;"></div>
        <!--Game choice menu-->
        <div class="container-md bg-dark" id="gameChoiceMenu">
            <div class="d-flex justify-content-center align-items-center">
                <div class="row">
                    <div class="col color-accent text-center p-3 rounded border border-light" id="notLoggedMessage">
                        Connectez-vous pour jouer
                    </div>
                    <div class="col" style="display: none;" id="gameChoiceBtns">
                        <button type="button" class="btn primary-btn m-2" disabled="true" id="playPongBtn">Jouer à Pong!</button>
                        <button type="button" class="btn primary-btn m-2" disabled="true" id="playTranscendiceBtn">Jouer à Transcendice!</button>   
                    </div>
                </div>     
            </div>
        </div>

        <!--PONG game menu-->
        <div class="container-md bg-dark" id="pongMenu" style="display: none;">
            <div class="d-flex justify-content-between align-items-center flex-column">
                <button type="button" class="btn primary-btn m-2" id="pongPlay1v1">1 vs 1</button>
                <button type="button" class="btn primary-btn m-2" id="pongPlay4">1v1v1v1</button>
                <button type="button" class="btn primary-btn m-2" id="pongPlayVAI">1 vs IA</button>
                <button type="button" class="btn primary-btn m-2" id="pongPlayTournament">Tournois</button>
            </div>
        </div>
        <!--Transcendice game menu-->
        <div class="container-game container-md bg-dark" id="transcendiceGameMenu" style="display: none;">
        </div>
        
        <!--Game settings menu-->
        <div class="gameSettingsContainer color-accent" style="display: none;" id="gameSettingsContainer" tabindex="-1" aria-hidden="true">
            <div class="container-fluid text-center m-2"><strong>Paramètres de la partie</strong></div>

            <div class="d-flex justify-content-around align-items-center" id="gameSettingsDiv">
            </div>
        
        </div>

    </div>
    