<!--Login form-->
<div class="modal fade" id="loginModal" tabindex="-1" role="dialog"
	aria-hidden="true">
	<div class="modal-dialog modal-dialog-centered" role="document">
		<div class="modal-content background-green">
			<!--Header-->
			<div class="modal-header background-green">
				<div class="modal-title text-center" id="loginModalTitle">Connexion</div>
				<button type="button" class="btn-close" data-bs-dismiss="modal"
					aria-label="Close">
				</button>
			</div>
			<!--Body-->
		    <div class="modal-body background-light">
				{% csrf_token %}
				<div class="mb-3">
					<label for="loginEmail" class="form-label">Adresse e-mail</label>
					<input type="email" class="form-control" id="loginEmail"
						aria-describedby="emailInfo">
					<div id="emailInfo" class="form-text">Votre adresse e-mail ne sera
						utilisée que pour vous identifier.</div>
				</div>
				<div class="mb-3">
					<label for="loginPassword" class="form-label">Entrez votre mot de
						passe</label>
					<input type="password" class="form-control" id="loginPassword">
				</div>
				</form>
			</div>
		<!--Footer-->
		<footer class="modal-footer justify-content-center">
		<button type="submit" class="btn btn-success">Se connecter</button>
		</div>
	</div>
</div>
