<!--Register and login button, with some stats(to add later from DB)-->
<div class="container-sm">
    <div class="row align-items-baseline background-light">
        <div class="col mb-2 text-brown text-start">Statistiques</div>
        <div class="col text-end">
            <button type="button" class="btn btn-outline-success"
                data-bs-toggle="modal" data-bs-target="#loginModal">Connexion</button>
            <button type="button" class="btn btn-outline-success"
                data-bs-toggle="modal"
                data-bs-target="#registerModal">Inscription</button>
        </div>
    </div>
</div>